.jumbotron-fluid{
  width: 100%;
  text-align: center;
  background-image: url("https://images.wallpaperscraft.com/image/kidney_beans_beans_seeds_112110_3840x2400.jpg");
  background-position: center;
  background-size: 100%;
}
.title {
  font-size: 1.4em;
}

.infoBox{
  width:75%;
  background: rgb(138, 21, 47, .8);
  color: #D39078;
  margin:80px auto 0px auto;
  padding: 10px 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: #D39078;
  box-shadow: 0 3px 6px #250300, 0 3px 6px #250300;
  font-family: 'Averia Serif Libre', cursive;
  justify-content: center;
}
