.card {
  background: #D39078;
  border-radius: 2px;
  height: 170px;
  margin: 1.5rem;
  position: relative;
  width: 170px;
  box-shadow: 0 3px 6px rgb(129, 92, 78), 0 3px 6px rgb(129, 92, 78);
  text-align: left;
  justify-content: center;
}

.card-img-top{
  overflow: none;
  width: 96%;
  height:auto;
  margin: auto auto auto 2%;
  
}
