.card {
  background: #49150a;
  border-radius: 5px;
  height: 170px;
  margin: 1.5rem;
  position: relative;
  width: 170px;
  box-shadow: 2px 4px 8px rgb(129, 92, 78), 2px 4px 8px rgb(129, 92, 78);
  text-align: left;
  justify-content: center;
}

.card:hover{
  box-shadow: 6px 9px 12px rgb(129, 92, 78), 6px 9px 12px rgb(129, 92, 78);
}

.card:active{
  box-shadow: 1px 4px 7px rgb(129, 92, 78), 1px 4px 7px rgb(129, 92, 78);
}

.card-img-top{
  overflow: none;
  border-radius: 3px;
  width: 96%;
  height:auto;
  margin: auto auto auto 2%;
}
/*css for very large screen widths*/
@media only screen and (min-width:1200px) {
  .card {
    width: 200px;
    height: 200px;
  }
}
/*css for very small screen widths*/
@media only screen and (max-width:872px) {
  .card {
    width: 140px;
    height: 140px;
  }
}
/*css for medium screen widths*/
@media only screen and (max-width:752px) {
  .card {
    width: 120px;
    height: 120px;
    margin: 1.4rem;
  }
}
/*css for small screen widths*/
@media only screen and (max-width:671px) {
  .card {
    width: 100px;
    height: 100px;
    margin: 1.2rem;
  }
}
/*css for very small screen widths*/
@media only screen and (max-width:554px) {
  .card {
    width: 80px;
    height: 80px;
    margin: 1.0rem;
  }
}
